* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol {
    list-style:none; 
    padding:0;
}
a {
    text-decoration: none;
    color: currentColor;
}
a {
    text-decoration: none;
    color: currentColor;
   
}
figure > img {
	display: block;
	width: 100%;
}
.main-page {
	padding: 80px 0;
}
 /* FLEX  */
.row {
    display: flex;
    flex-wrap: wrap;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
/* Formula per calcolarsi le colonne  */
.col-4 {
	flex-basis: calc((100% / 12) * 4);
}
.row > [class^='col'] {
	padding: 20px;
}

/* Header  */
.header-page {
    background-color: orange;
    height: 100px;
}
/* MAIN  */

.card__img{
    position: relative;
}
.heart {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    
}
.price-redution{
    position: absolute;
    bottom: 30px;
    background-color: red;
    color: white;
    padding: 3px;
    
}

.sustainability{
    display: inline-block;
    position: absolute;
    bottom: 30px;
    left: 40px;
    background-color: green;
    color: white;
    padding: 3px;
    margin-left: 5px;
}






/* footer */
.footer-page {
    background-color: black;
    height: 150px;
}


/* debug */

.debug .card {
    background-color: blue;
}